
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
<style>
div.list {
		background-color: white;
		color: red;
		margin: 20px 0 20px 0;
		padding: 20px;
	}
	
	
div.nav-top {
		color: green;
		margin: 10px 0 10px 0;
		padding 30 px

}
div.nav-top li {
		display: inline;
}
div.link-button {
		color: green;
		float: right;
		position: relative;
		top: -100px;
		left: -20px;
}

</style>
  
  
  {% include head.html %}

  <body>

    {% include header.html %}

	<h1 class="post-title" "This is an HTML post."</h1>
	
	<div class="nav-top">
		<ul>
		<li> navbar1     </li>
		<li> navbar2     </li>
		<li> navbar3     </li>
		</ul>
	</div>
	<div class="like-button">
	<p> Link </p>
	</div>
	<h2 class="post> "This is the second biggest heading" </h2>
	

	<h3> This is a heading for a list </h3>
	<div class="list">
	<ul> 
	<li> <p> Item 1 </p>
	<li> <p> Item 2 </p>
	<li> <p> Item 3 </p>
	<ul>
	</div>
	
	
	<p> Text zum Bild. </p>
	<img src="https://www.google.de/images/branding/googleg/1x/googleg_standard_color_128dp.png" />
	
	<h1> <a href="https://google.de"> Link zu Google</a> </h1>
	
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>