<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
<head>  
<script>src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"</script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
</head> 
  <body>

    {% include header.html %}
ss
	<nav class="site-nav">
  <ul>
    <li><a href="/">Home</a></li>
	<li><a href="/Laban.html">Laban</a></li>
	<li><a href="/Release.html">Release</a></li>
    <li><a href="/Impressum.html">Impressum</a></li>
  </ul>
</nav>
	
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
