<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  {% include blockhead.html %}
	<link rel="stylesheet" href="firstpost.css">
  
  <body>

    {% include header.html %}

	<nav class="main-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/Impressum.html">Impressum</a></li>
  </ul>
</nav>
	
	<div class="container">
	 <nav class="main-nav">
	   <ul>
		<p> This is a heading not visible in html posts. </p>
       </ul>
	</div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
